{% extends 'base.html' %}
{% block title %}
  Add Blog
{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
  
<h1 style="margin-left: 4%;">Add Blog</h1>
<form method="post" class="userpost">
    {% csrf_token %}
    
    {{form.as_p}}
    <br>
    <button class="btn btn-dark" type="submit">submit</button>
</form>
<script>
  var name = "{{ user.username }}";
  document.getElementById("author").value = name;
</script>
{% else %}

<h4>You are not logged in</h4>
<p>Please Login</p><a href="{% url 'login' %}"><button type="submit">Login</button></a>

{% endif %}
{% endblock content %}
