{% extends 'base.html' %}
{% block title %}
  Home 
{% endblock title %}
    {% block content %}

    {% load static %}
    {% if page_obj.number == 1 %}
<div id="carouselExampleCaptionsFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="margin-top: -50px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptionsFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptionsFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptionsFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/slide2.jpg' %}" class="d-block w-100" alt="Joker">
      <div class="carousel-caption d-none d-md-block" style="color: white;">
          <h2>Picture tells many tales</h2>
          <h4>Films with best pictures convey a lot.</h4>
      </div>
    </div>
    <div class="carousel-item" >
      <img src="{% static 'img/slide1.jpeg' %}"  class="d-block w-100" alt="Annihilation">
      <div class="carousel-caption d-none d-md-block" style="color: white;">
        <h2>Without black , no color has any depth</h2>
        <h4>Every colors in a film exposes the tone of it.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/slide3a1.jpg' %}" class="d-block w-100" alt="Parasite">
      <div class="carousel-caption d-none d-md-block" style="color: white;">
        <h2>Expression is mystery of beauty</h2>
        <h4>And the film is loved by how it is expressed.</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br>
<h1 style="text-align: center;margin-bottom: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: white;">All Posts</h1><br>
{% endif %}
<div class="container">
  {% for post in object_list %}
    <div class="row align-items-center">
      <div class="col my-3" style=" display:flex; justify-content:center;">
        <div class="card" id="card">
            <ul class="list-group list-group-flush">
                
              {% if user.username == post.posted_by.username %}

                <li class="list-group-item" style="padding: 4px;">
                    <h6 class="card-text" style="text-align: left;margin-left: 25px;"><b>@{{post.posted_by.username}}</b></h6> 
                </li>
                {% else %}
                <li class="list-group-item" style="padding: 4px;">
                  <h6 class="card-text" style="text-align: left;margin-left: 25px;"><b><a href="{% url 'moviereview:userpost' post.posted_by.username %}">@{{post.posted_by.username}}</a></b></h6> 
              </li>
              {% endif %}
                <li class="list-group-item" style="padding: 4px;">
                    <h6 class="card-text" style="text-align: left;margin-left: 25px;">Posted on : <b>{{post.posted_on.date}}</b></h6>
                </li>
            
            <li class="list-group-item" style="margin: 0;padding: 0;">
            <img src="{{post.poster.url}}" class="card-img-top"></li>
            <li class="list-group-item" style="padding: 4px;">
            <h6 class="card-title"><b>Movie Name : <a href="{% url 'moviereview:viewpost' post.id %}">{{post.title}}</a></b></h6></li>
            <li class="list-group-item" style="padding: 4px;">
            <b class="card-text">Directed By : <a href="{% url 'moviereview:director' post.director %}">{{post.director}}</a></b><br></li>
            <li class="list-group-item" style="padding: 4px;">
            <p class="card-text">{{post.review|slice:":300"}} 
              {% if post.review|wordcount > 30 %}
                <a href="{% url 'moviereview:viewpost' post.id %}">Read More</a>
              {% endif %}      
            </p></li>
            </ul>
          </div>
      </div>
</div>

{% endfor %}
<br><br>
<div class="pagination" style="color: white;justify-content: center;">
  <span class="step-links">
      {% if page_obj.number == 2 %}
      <a href="\" style="color: white;"><button class="btn btn-outline-light">&lsaquo; First</button></a>
      {% endif %}
      {% if page_obj.number > 2 %}
      <a href="?page={{ page_obj.previous_page_number }}" style="color: white;"> <button class="btn btn-outline-light">&laquo; Prev</button></a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      
      {% if page_obj.has_next %}      
          {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
           <a href="?page={{ page_obj.paginator.num_pages }}" style="color: white;"><button class="btn btn-outline-light">Last &rsaquo;</button></a>
           {% else %}
          <a href="?page={{ page_obj.next_page_number }}" style="color: white;"><button class="btn btn-outline-light">Next &raquo;</button></a>
          {% endif %}
      {% endif %}
  </span>
</div>
<br><br><br>

{% endblock content %}





