{% extends 'base.html' %}
{% block title %}
{{view.kwargs.username}} | Blogs
{% endblock title %}
{% block content %}
<a href="{% url 'BlogPost:Home' %}" style="margin: -20px 0 10px 20px;" class="btn btn-dark">&#10094;  Back</a><br><br>
<h1 style="text-align: center;margin-bottom: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-left: 40px;">My Blogs</h1>
{% for post in object_list %}
<div class="posts">
    <div class="content">
        <h4><a href="{% url 'BlogPost:view' post.id %}" style="text-decoration: none;">{{post.title}}</a></h4>
        <small>Author: <b>{{post.author}}</b> <br> Posted on: <b>{{post.timestamp.date}}</b></small><hr style="height:2px;border:gray;background-color:gray">
        <p style="font-size: medium;overflow-wrap:break-word;padding-top: 20px;">{{post.body|slice:":250"}}
        {% if post.body|wordcount > 20 %}
            ...
            <a href="{% url 'BlogPost:view' post.id %}">Read More</a>
        {% endif %}
        </p>
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}