{% extends 'base.html' %}
{% block title %}
{{view.kwargs.username}} | Posts
{% endblock title %}
{% block content %}
<a href="{% url 'moviereview:home' %}" style="margin: -20px 0 10px 20px;" class="btn btn-outline-light">&#10094;  Back</a><br><br>
<h1 style="text-align: center;margin-bottom: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: white;">My Posts</h1>
<div class="container">
    {% for post in object_list %}
      <div class="row align-items-center">
        <div class="col" style=" display:flex; justify-content:center;">
          <div class="card" id="card">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="padding: 4px;">
                      <h6 class="card-text" style="text-align: left;margin-left: 25px;"><b>@{{post.posted_by.username}}</b></h6> 
                  </li>
                  <li class="list-group-item" style="padding: 4px;">
                      <h6 class="card-text" style="text-align: left;margin-left: 25px;">Posted on: <b>{{post.posted_on.date}}</b></h6>
                  </li>
              
              <li class="list-group-item" style="margin: 0;padding: 0;">
              <img src="{{post.poster.url}}" class="card-img-top" style="width:300px;height: auto;"></li>
              <li class="list-group-item" style="padding: 4px;">
              <h6 class="card-title"><b>Movie Name : <a href="{% url 'moviereview:viewpost' post.id %}">{{post.title}}</a></b></h6></li>
              <li class="list-group-item" style="padding: 4px;">
              <b class="card-text">Directed By : {{post.director}}</b><br></li>
              <li class="list-group-item" style="padding: 4px;">
              <p class="card-text">{{post.review|slice:":300"}}
                      <!-- <a href="">Read More</a> -->
              </p></li>
              </ul>
            </div>
        </div>
  </div>
  <br><br>
  
  {% endfor %}
{% endblock content %}