{% extends 'base.html' %}
{% block title %}
  {{object.title}}
{% endblock title %}
{% block content %}
<a href="{% url 'moviereview:home' %}" id="viewpost-back" style="margin: -20px 0 10px 20px;" class="btn btn-outline-light">&#10094;  Back</a><br><br>
<div class="card mb-3" style="width: 90%;margin: 50px;margin-left: 80px;">
  <div class="row g-0">
    <div class="col-md-6" style="background-color: rgba(0, 0, 0, 0.76);">
      <img src="{{object.poster.url}}" class="img-fluid" style="display: block;margin-left: auto;margin-right: auto;" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          
          {% if user.username != object.posted_by.username %}
          <li class="list-group-item"><h4 class="card-title"><a href="{% url 'moviereview:userpost' object.posted_by.username %}">@{{object.posted_by.username}}</a></h4></li>
            {% else %}
          <li class="list-group-item"><h4 class="card-title">@{{object.posted_by.username}}</h4></li>
          {% endif %}
          <li class="list-group-item"><h6 class="card-title">Posted On : {{object.posted_on}}</h6></li>
          <li class="list-group-item"><h5 class="card-title">Movie Name : {{object.title}}</h5></li>
          <li class="list-group-item"><h5 class="card-title">Directed By : {{object.director}}</h5></li>
          <li class="list-group-item"><h6 class="card-title">Review : </h6></li>
          <li class="list-group-item"><p class="card-text" style="line-height: 2;overflow-y: scroll;height: 300px;">{{object.review}}</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}